
<main class="img-slider text-white flex flex-col justify-center items-center w-full h-screen text-center bg-cover bg-center bg-no-repeat " style="background-image: url('https://www.saltgrooming.com/cdn/shop/articles/barbershop_1024x.png?v=1719219867');">
  <section class="w-full h-full px-4 flex flex-col justify-end pb-20  items-center">
    <span class="text-[22px] font-semibold"> Servizo-360</span>
    <h1 class="text-pink-600 text-[24px] font-semibold">AT SALON</h1>
    <h2 class="text-[21px] font-semibold">Schedule for salon</h2>
    <p class="text-[21px] font-normal text-zinc-100 mb-3">service appintment</p>
    <button routerLink="/singup" class="bg-pink-500 w-full text-[20px] py-4 rounded-lg">Get Started</button>
  </section>
</main>


<!-- <div class="text mt-[12%]">
  <h1 class="name text-5xl font-sans text-gray-100 ">
    Servizo-360
  </h1>
  <h2 class="time text-2xl text-white mt-4">
    Salon Time
  </h2>
  <h1 class="your text-sm text-white mt-2">
    Schedule your salon
  </h1>
  <h4 class="service text-sm text-white">
    service appointment
  </h4>
  <button routerLink="/singup" class="get bg-[#c9114e] w-[30vw] h-[5vh] mt-[40%] text-white rounded-[10%]">
    Get start
  </button>
</div> -->

   
  